body {
    color:black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: 1em courier;
    background-color: transparent;
    width: 100vw;
}

p {
    color:black;
    margin-left: auto;
    margin-right: auto ;
    text-align: left;
    font: courier, monospace;
    font-size: 100%;
    background-color: transparent;
    width: 50vw;
}

#content-footer {
    position: fixed;
    display: block;
    bottom: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

#content-footer ul > li {
    display: inline-block;
}

ul {
    padding: 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#content-footer img {
    width: 25px;
    height: 25px;
    display: inline-block;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}

.cont {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    margin-top: 50px;
    padding-top: 0;
    padding-bottom: 50px;
}

.cont ul > li {
    display: inline-block;
}

.music-figure {
    padding: 10px;
    width: 350px;
    text-align: left;
    font-size: 80%;
}

figcaption {
    padding-top: 10px;
}

#caption-list {
    display: block;
}

.navbar-label{
    background-color: transparent;
}

#toggle {
    display: none;
}

#signup-page {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#signup-page p {
    font-size: 130%;;
    float: left;
    width: 25vw;
    height: 100vh;
    padding-top: 25px;
}

.cont-grid {
    display: inline-grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: auto;
    row-gap: 30px;
    column-gap: 30px;
    width: 100vw;
    margin-bottom: 75px;
}

.col-1 {
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    justify-self: center;
}

.col-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    align-self: center;
    justify-self: center;
}

.middle {
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: center;
    justify-self: center;
}

.ep-artwork {
    width: 400px;
    height: 400px;
}

.ep-image {
    width: 400px;
    height: auto;
}

.ep-artwork {
    box-shadow: rgb(161, 161, 161) 5px 5px 5px 5px;
    border: 3px solid;
}

.ep-text {
    font-size: 100%;
    max-width: 500px;
    min-width: 300px;
    text-align: left;
}

.ep-player {
    width: 400px;
    height: 166px;
    box-shadow: rgb(161, 161, 161) 5px 5px 5px 5px;
}

.ep-video {
    box-shadow: rgb(161, 161, 161) 3px 3px 3px 3px;
    width: 400px;
    height: 225px;
}

.ep-link {
    display: block;
    color: black;
    padding: 16px;
    margin: 50px;
    text-decoration: none;      
    display: inline-block;
    clear: both;
    font-size: 200%;
}

.ep-link:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
}

.cont-grid figcaption {
    height: 25px;
    text-align: left;
    max-width: 400px;
}

#signup-form {
    padding: 50px;
    width: 15vw;
    height: 100vh;
    display: inline-block;
}

#signup-form input[type="text"] {
    margin: 0;
    padding: .375rem .5625rem;
}

#signup-form input[type="email"] {
    margin: 0;
    padding: .375rem .5625rem;
}

#signup-form input[type="submit"] {
    margin: 0; 
    font: 1em courier;
    padding: .375rem .5625rem;
    background-color: black;
    color: white;
    border: none;
}

#signup-form input[type="submit"]:hover {
    background-color: rgb(99, 99, 99);
}

#signup-form input[type="submit"]:active {
    background-color: rgb(209, 209, 209);
}

#signup-form > div {
    margin-bottom: 0.75rem;
}

img.landing {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 75%;
    max-width: 600px;
    min-width: 200px;
    height: auto;
    z-index: 0;
}

img.gallery {
    padding: 1px;
    width: 75%;
    max-width: 600px;
    min-width: 200px;
    height: auto;
}

#shop {
    margin-top: 35px;
    border: none;
    width: 100%;
    height: 100%;
}

.gallery {
    margin-left: auto;
    margin-right: auto;
}

#gallery {
    max-width: 1400px;
}

nav {
    padding: 0;
    position: fixed;
    display: block;
    overflow: auto;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    transition: 0.5s;
    top: 0;
}

nav a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;      
    display: inline-block;
    clear: both;
    text-transform: uppercase;
}

nav a:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
}
  
@media screen and (max-width: 800px) {
    img.landing {
        margin-left: auto;
        margin-right: auto;
    }

    .navbar-label{
        position: fixed;
        left: 12px;
        top: 0;
        width: 50px;
        height: 50px;
        background-color: transparent;
        cursor: pointer;
        border-radius: 50%;
        transition: 0.6s;
        z-index: 2;
    }

    .navbar-label:hover {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1), inset 0 0 0 50px rgba(0, 0, 0, 0.1);
    }

    .navbar-label:before, .navbar-label:after {
        position: absolute;
        content: '';
        width: 50%;
        height: 2px;
        background-color: black;
        border-radius: 5px;
        transition: 0.5s;
        opacity: 0;
        left: 12px;
        top: 20px;
    }

    #toggle:checked ~ .navbar-label:before {
        transform: translateY(-50%) rotate(45deg) scale(1);
        opacity: 100;
    }

    #toggle:checked ~ .navbar-label:after {
        transform: translateY(-50%) rotate(-45deg) scale(1);
        opacity: 100;
    }

    nav a {
        text-decoration: none;
        display: block;
        font-size: 16px;
        text-transform: uppercase;
        transform: scaleY(0.2);
        letter-spacing: -6px;
        height: 7px;
        line-height: 7px;
        color: transparent;
        transition: 0.5s, opacity 0.1s;
        pointer-events: none;
        padding: 0;
        top: 50%;
        left: 0;
    }

    nav a:before {
        position: absolute;
        content: '';
        width: 20px;
        height: 2px;
        margin-left: 25px;
        margin-top: 50px;
        background-color: black;
        transition: 0.5s;
        top: 50%;
        left: 0;
        transform: scaleY(5);
    }

    nav a:nth-child(n + 4) {
        margin-top: -7px;
        opacity: 0;
    }

    #toggle:checked ~ nav {
        margin-bottom: 100px;
        margin-top: 0;
        top: 0;
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        pointer-events: auto;
        width: 100vw;
        height: auto;
    }

    #toggle:checked ~ nav a {
        opacity: 100;
    }

    #toggle:checked ~ nav a {
        color: #000000;
        letter-spacing: 0;
        height: 40px;
        line-height: 40px;
        margin-top: 0;
        opacity: 1;
        transform: scaleY(1);
        pointer-events: auto;
        transition: 0.5s, opacity 0.1s;
    }

    #toggle:checked ~ nav a:before {
        opacity: 0;
    }
    
    nav {
        font-size: 2vw;
        display: block;
        position: fixed;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        transition: 0.5s;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100vw;
        height: 35px;
    }

    .music-figure {
        padding: 0px;
        width: 80vw;
        max-width: 350px;
        text-align: left;
        font-size: 80%;
        margin-left: auto;
        margin-right: auto;
    }    

    #signup-page {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    #signup-page p {
        float: none;
        height: auto;
        font-size: 100%;
        width: 80vw;
    }

    #signup-form {
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .cont-grid {
        display: inline-grid;
        grid-template-columns: auto;
     }

    .ep-text, .ep-artwork, .ep-player, .ep-image, .ep-video {
        width: 80vw;
        height: auto;
    }
    
    .ep-text {
        font-size: 100%;
        max-width: none;
     }

    .ep-artwork {
        max-width: 400px;
        height: auto;
    }

    .col-1, .col-2, .middle {
        grid-column-start: 1;
        grid-column-end: 2;
        align-self: center;
        justify-self: center;
    }

    .ep-player {
        max-width: 400px;
        height: 166px;
    }
    
    .cont-grid figcaption {
        height: auto;
    }
}

.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
  
@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
  
@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
  
@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
  
@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}